@CHARSET "UTF-8";

/** ============================================================ */
/** @author: Genaro Bermúdez [31/01/2018]  */
/** @updated: Mauricio Rivera [12/04/2018]  */
/** @description: commons styles */
/** ============================================================ */

/** ============================================================ */
/** Header */
/** ============================================================ */
.headerBaseContainer {
	height: 53px;
	font-size: 30px;
	color: #999999;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}

/** ============================================================ */
/** Menu */
/** ============================================================ */
.menuBaseContainer {
	background-color:#E10098;
	width: 100%;
	height: 50px;
}
.menuMouseOver {
	font-size: 16px;
	font-stretch: extra-condensed;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #C81685;
	padding: 15px 20px 16px 20px;
	height: 50px;
	cursor: pointer;
}
.menuMouseOut {
	font-size: 16px;
	font-stretch: extra-condensed;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #E10098;
	padding: 15px 20px 16px 20px;
	height: 50px;
}
.subMenuMouseOver {
	font-size: 13px;
	font-stretch: extra-condensed;
	color:#E10098;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #EFEFEF;
	padding: 7px 10px 3px 10px;
	cursor:pointer;
	height:20px;
	width:200px;
	border-bottom:thin solid #E0E0E0;
}
.subMenuMouseOut {
	font-size: 13px;
	font-stretch: extra-condensed;
	color:#1B1B1B;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	padding: 7px 10px 3px 10px;
	height:20px;
	width:200px;
	border-bottom:thin solid #E0E0E0;
}
.pipeLine {
	border-right:solid;
	border-right:thin solid #FFDFFF;
	height:51px;
	width: 1px;
	position: fixed;
	z-index: 500;
	top: 60px;
	margin-left: -4px;
}

/** ============================================================ */
/** Body */
/** ============================================================ */
.bodyBaseContainer {
	height: 515px;
	width: 1250px;
	overflow: auto;
}

/** ============================================================ */
/** Footer */
/** ============================================================ */
.footerBaseContainer {
	background-color:#E10098;
	width: 100%;
	height: 25px;
	color: #fff;
}
.footerTextBaseContainer {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	height: 25px;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
}

/** ============================================================ */
/** Form container */
/** ============================================================ */
.formContainer {
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	background-color: #FFFFFF;
}
.topBarFormContainer {
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	background-color: #999999;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
.filtersBarFormContainer {
	background-color: #F3F3F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	height: 40px;
	width: 100%;
}
.filtersBarFormContainerMouseOver {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	cursor: pointer;
}
.filtersBarFormContainerMouseOut {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.bottomBarFormContainer {
	background-color: #F2F2F2;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Verdana;
	text-decoration: none;
	height: 40px;
	width: 100%;
	text-align: right;
	padding: 10px;
}

/** ============================================================ */
/** Controls */
/** ============================================================ */
.textMouseOut {
	font-size: 15px;
	font-stretch: extra-condensed;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F3F3F3;
	border: thin solid #B3B3B3;
	padding: 3px 3px 3px 3px;
}
.textMouseOver {
	font-size: 15px;
	font-stretch: extra-condensed;
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#F3F3F3;
	border:thin solid #E10098;
	padding: 3px 3px 3px 3px;
}
.textMouseDisabled {
	font-size: 15px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C0C0C0;
	border: thin solid #B3B3B3;
	padding: 3px 3px 3px 3px;
}
.comboMouseOut {
	font-size: 15px;
	font-stretch: extra-condensed;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F3F3F3;
	border: thin solid #B3B3B3;
	padding: 3px 3px 3px 3px;
}
.comboMouseOver {
	font-size: 15px;
	font-stretch: extra-condensed;
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#F3F3F3;
	border:thin solid #E10098;
	padding: 3px 3px 3px 3px;
}
.loginButtonMouseOver {
	font-size: 16px;
	font-stretch: extra-condensed;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #C81685;
	height: 20px;
	padding: 6px 20px 7px 20px;
	cursor: pointer;
}
.loginButtonMouseOut {
	font-size: 16px;
	font-stretch: extra-condensed;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #E10098;
	height: 20px;
	padding: 6px 20px 7px 20px;
}
.findButtonMouseOver {
	font-size: 16px;
	font-stretch: extra-condensed;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #C81685;
	height: 18px;
	padding: 5px 20px 6px 20px;
	cursor: pointer;
}
.findButtonMouseOut {
	font-size: 16px;
	font-stretch: extra-condensed;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #E10098;
	height: 18px;
	padding: 5px 20px 6px 20px;
}
.backButtonMouseOver {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #73787A;
	height: 20px;
	padding: 5px 20px 6px 20px;
	cursor: pointer;
}
.backButtonMouseOut {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #81898b;
	height: 20px;
	padding: 5px 20px 6px 20px;
}
.saveButtonMouseOver {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2f2f2f;
	height: 20px;
	padding: 5px 20px 6px 20px;
	cursor: pointer;
}
.saveButtonMouseOut {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3B3B3E;
	height: 20px;
	padding: 5px 20px 6px 20px;
}
.genericToolTip {
	font-size: 12px;
	font-stretch: extra-condensed;
	color: #808080;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 100;
	position: absolute;
	padding: 5px 50px 5px 5px;
	background-color: #f2f2f2;
	border-radius: 2px;
	display: none;
	border: thin solid #808080;
	border-width: 1px 1px 1px 1px;
}

/** ============================================================ */
/** Lists */
/** ============================================================ */
.listContainer {
	width: 100%;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.listContainerHeader {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #999999;
	height: 30px;
}
.listContainerHeaderMouseOut {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}
.listContainerHeaderMouseOver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #E6E6E6;
	text-decoration: none;
}
.listContainerBodyMouseOver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15;
	color: #333333;
	height: 20px;
	background-color: #EFEFEF;
	cursor: default;
}
.listContainerBodyMouseOut {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15;
	color: #666666;
	height: 20px;
	background-color: #F3F3F3;
}

/** ============================================================ */
/** Form */
/** ============================================================ */
.formSubContainer {
	background-color: #F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	border-spacing: 11px;
}

/** ============================================================ */
/** Validations container */
/** ============================================================ */
.validationsContainer {
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #c40000;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f8f8f8;
	padding: 11px 10px 11px 50px;
	width: 500px;
	_width: 570px;
	border-top: thin solid #FF0000;
	border-bottom: thin solid #FF0000;
	border-left: thin solid #FF0000;
	border-right: thin solid #FF0000;
	margin-bottom: 3px;
	cursor: pointer;
	z-index: 10000;
	border-radius: 3px;
}
.validationsErrors {
	font-size: 12px;
	font-stretch: extra-condensed;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}

/** ============================================================ */
/** Paginator */
/** ============================================================ */
.paginatorContainer {
	background-color: #999999;
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Verdana;
	text-decoration: none;
	height: 25px;
	width: 100%;
	padding: 5px 5px 5px 5px;
}
.paginatorMouseOver {
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #E6E6E6;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
}
.paginatorMouseOut {
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
}

/** ============================================================ */
/** Calendar */
/** ============================================================ */
.calendarContainer {
	width: 250px;
	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-o-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 	border: solid 1px #E1DDE0;
}
.monthContainer {
	background-color: #C50287;
	height: 30px;
	padding: 5px;
}
.monthCurveTL {
	background: none !important;
	background-image: none;
	color: #fff;
}
.monthLabelContainer {
	background: none !important;
	background-image: none;
	color: #EBF0F5;
	text-transform: capitalize;
	font-size: 16px;
	font-style: normal;
	font-family: Calibri;
}
.monthCurveTR {
	background: none !important;
	background-image: none;
	color: #fff;
}
.monthWrapper {
	padding-bottom: 0px !important;
	background: none !important;
}
.decrease {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.increase {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.incrementControl:hover{
	background-color: #E10098;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.calendarBodyContainer {
	background: none;
	background-color: #fff;
}
.calendarBodyContainer thead tr td {
	background: none;
	padding:0px;
	background-color: #C50287 !important;
	color: #fff !important; 
	font-size:16px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}
.calendarBodyContainer tbody tr td {
	background: none;
	color: #666;
	font-size: 16px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}
.previousMonth {
	background: none !important;
	background-color: none !important;
	color: #999 !important;
	padding: 8px !important;
}
.selectedDate {
	background-color: #C50287 !important;
	color: #fff !important;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.currentDate {
	font-size: 16px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.currentMonth {
	color: #666;
	padding: 8px !important;
}
.nextMonth {
	background: none !important;
	background-color: none !important;
	color: #999 !important;
	padding: 8px !important;
}
.yearContainer {
	
}
.yearLabel {
	background: #C50287 !important;
}
.yearLabel .selectedYear {
	background-color: #E10098 !important;
}
.curveBL {
	background: #C50287 !important;
}
.curveBR {
	background: #C50287 !important;
}
.yearWrapper {
	background: none;
	padding-top: 0px !important;
}
.containers {
	display: inline-block;
}