@CHARSET "UTF-8";

/** ============================================================ */
/** @author: Genaro Bermúdez [31/01/2018]  */
/** @updated: ---  */
/** @description: init page > redirect */
/** ============================================================ */

/** ============================================================ */
/** Encabezado */
/** ============================================================ */
.contenedorBaseEncabezado {
	height: 53px;
	font-size: 30px;
	color: #999999;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}

/** ============================================================ */
/** Menú */
/** ============================================================ */
.contenedorBaseMenu {
	/* 	background-color:#E10098; */
	width: 100%;
	height: 50px;
}

.mouseEncimaMenu {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px 20px 16px 20px;
	height: 50px;
	cursor: pointer;
}

.mouseFueraMenu {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px 20px 16px 20px;
	height: 50px;
}

.mouseEncimaSubMenu {
	font-size: 13px;
	font-stretch: extra-condensed;
	color: #E10098;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EFEFEF;
	padding: 7px 10px 3px 10px;
	cursor: pointer;
	height: 20px;
	width: 200px;
	border-bottom: thin solid #E0E0E0;
}

.mouseFueraSubMenu {
	font-size: 13px;
	font-stretch: extra-condensed;
	color: #1B1B1B;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	padding: 7px 10px 3px 10px;
	height: 20px;
	width: 200px;
	border-bottom: thin solid #E0E0E0;
}

.pipeLine {
	border-right: solid;
	border-right: thin solid #FFFFFF;
	height: 51px;
	width: 1px;
	position: fixed;
	z-index: 500;
	top: 60px;
	margin-left: -4px;
}

/** ============================================================ */
/** Cuerpo */
/** ============================================================ */
.contenedorBaseCuerpo {
	height: 490px;
	width: 1250px;
	overflow: auto;
}

/** ============================================================ */
/** Pie */
/** ============================================================ */
.contenedorBasePie {
	/* 	background-color:#E10098; */
	width: 100%;
	height: 25px;
}

.textoContenedorBasePie {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	height: 25px;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
}

/** ============================================================ */
/** Contenedor Forma */
/** ============================================================ */
.contenedorForma {
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	background-color: #FFFFFF;
}

.contenedorFormaBarraSuperior {
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	background-color: #999999;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.contenedorFormaBarraFiltros {
	background-color: #F3F3F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	height: 50px;
	width: 100%;
}

.mouseEncimaContenedorFormaBarraFiltros {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	cursor: pointer;
}

.mouseFueraContenedorFormaBarraFiltros {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.contenedorFormaBarraInferior {
	background-color: #F2F2F2;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Verdana;
	text-decoration: none;
	height: 40px;
	width: 100%;
	text-align: right;
	padding: 10px;
}

/** ============================================================ */
/** Controles */
/** ============================================================ */
.mouseFueraCuadroTexto {
	font-size: 15px;
	font-stretch: extra-condensed;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F3F3F3;
	border: thin solid #B3B3B3;
	padding: 3px 3px 3px 3px;
}

.mouseEncimaCuadroTexto {
	font-size: 15px;
	font-stretch: extra-condensed;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F3F3F3;
	border: thin solid #636;
	padding: 3px 3px 3px 3px;
}

.mouseFueraComboBox {
	font-size: 15px;
	font-stretch: extra-condensed;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F3F3F3;
	border: thin solid #B3B3B3;
	padding: 3px 3px 3px 3px;
}

.mouseEncimaComboBox {
	font-size: 15px;
	font-stretch: extra-condensed;
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F3F3F3;
	border: thin solid #636;
	padding: 3px 3px 3px 3px;
}

.mouseEncimaBotonLogin {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #639;
	height: 20px;
	padding: 6px 20px 7px 20px;
	cursor: pointer;
}

.mouseFueraBotonLogin {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #636;
	height: 20px;
	padding: 6px 20px 7px 20px;
}

.mouseEncimaBotonBuscar {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #639;
	height: 18px;
	padding: 5px 20px 6px 20px;
	cursor: pointer;
}

.mouseFueraBotonBuscar {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #636;
	height: 18px;
	padding: 5px 20px 6px 20px;
}

.mouseEncimaBotonRegresar {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #73787A;
	height: 20px;
	padding: 5px 20px 6px 20px;
	cursor: pointer;
}

.mouseFueraBotonRegresar {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #81898b;
	height: 20px;
	padding: 5px 20px 6px 20px;
}

.mouseEncimaBotonGuardar {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2f2f2f;
	height: 20px;
	padding: 5px 20px 6px 20px;
	cursor: pointer;
}

.mouseFueraBotonGuardar {
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3B3B3E;
	height: 20px;
	padding: 5px 20px 6px 20px;
}

.toolTipGenerico {
	font-size: 12px;
	font-stretch: extra-condensed;
	color: #808080;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 100;
	position: absolute;
	padding: 5px 50px 5px 5px;
	background-color: #f2f2f2;
	border-radius: 2px;
	display: none;
	border: thin solid #808080;
	border-width: 1px 1px 1px 1px;
}

/** ============================================================ */
/** Lista */
/** ============================================================ */
.contenedorLista {
	width: 100%;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.contenedorListaEncabezado {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #999999;
	height: 30px;
}

.mouseFueraContenedorListaEncabezado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}

.mouseEncimaContenedorListaEncabezado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #E6E6E6;
	text-decoration: none;
}

.mouseEncimaContenedorListaCuerpo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15;
	color: #333333;
	height: 20px;
	background-color: #EFEFEF;
	cursor: default;
}

.mouseFueraContenedorListaCuerpo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15;
	color: #666666;
	height: 20px;
	background-color: #F3F3F3;
}

/** ============================================================ */
/** Formulario */
/** ============================================================ */
.contenedorFormulario {
	background-color: #F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-stretch: extra-condensed;
	color: #666666;
	border-spacing: 11px;
}

/** ============================================================ */
/** Contenedor validaciones */
/** ============================================================ */
.contenedorValidaciones {
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #c40000;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f8f8f8;
	padding: 11px 10px 11px 50px;
	width: 500px;
	_width: 570px;
	border-top: thin solid #FF0000;
	border-bottom: thin solid #FF0000;
	border-left: thin solid #FF0000;
	border-right: thin solid #FF0000;
	margin-bottom: 3px;
	cursor: pointer;
	z-index: 10000;
	border-radius: 3px;
}

.erroresValidacion {
	font-size: 12px;
	font-stretch: extra-condensed;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}

/** ============================================================ */
/** Paginador */
/** ============================================================ */
.contenedorPaginador {
	background-color: #999999;
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Verdana;
	text-decoration: none;
	height: 25px;
	width: 100%;
	padding: 5px 5px 5px 5px;
}

.mouseEncimaPaginador {
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #E6E6E6;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
}

.mouseFueraPaginador {
	font-size: 14px;
	font-stretch: extra-condensed;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
}

/** ============================================================ */
/** Estilos del calendario */
/** ============================================================ */
.calendarContainer { /*contenedor principal del calendario*/
	width: 250px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: solid 1px #5A0E71;
}

/*seccion del encabezado del calendar*/
.monthContainer {
	background-color: #6A2C91;
	height: 30px;
	padding: 5px;
}

.monthCurveTL {
	background: none !important;
	background-image: none;
	color: #fff;
}

.monthLabelContainer {
	background: none !important;
	background-image: none;
	color: #EBF0F5;
	text-transform: capitalize;
	font-size: 16px;
	font-style: normal;
	font-family: Calibri;
}

.monthCurveTR {
	background: none !important;
	background-image: none;
	color: #fff;
}

.monthWrapper {
	padding-bottom: 0px !important;
	background: none !important;
}

/*flechas de navegacion*/
.decrease {
	background-image:
		url(../../../../MODULOS/interno/comunes/imagenes/imgAvanzar.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.increase {
	background-image:
		url(../../../../MODULOS/interno/comunes/imagenes/imgAvanzar.png);
	background-repeat: no-repeat;
	background-position: center;
}

.incrementControl:hover {
	background-color: #5A0E71;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

/*cuerpo del calendario*/
.calendarBodyContainer { /*cuerpo de las dias actuales del mes*/
	background: none;
	background-color: #fff;
}

.calendarBodyContainer thead tr td {
	background: none;
	padding: 0px;
	background-color: #6A2C91 !important;
	color: #fff !important;
	font-size: 16px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}

.calendarBodyContainer tbody tr td {
	background: none;
	color: #666;
	font-size: 16px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}

/*dias del mes anterior*/
.previousMonth {
	background: none !important;
	background-color: none !important;
	color: #999 !important;
	padding: 8px !important;
}
/*dia seleccionado y dia actual*/
.selectedDate {
	background-color: #6A2C91 !important;
	color: #fff !important;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.currentDate {
	font-size: 16px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
/*dias del mes actual*/
.currentMonth {
	color: #666;
	padding: 8px !important;
}

/*dias del siguiente mes*/
.nextMonth {
	background: none !important;
	background-color: none !important;
	color: #999 !important;
	padding: 8px !important;
}

/*pie del calendario*/
.yearContainer {
	/* 	display: none; */
	
}

.yearLabel {
	background: #6A2C91 !important;
}

.yearLabel .selectedYear {
	background-color: #5A0E71 !important;
}

.curveBL {
	background: #6A2C91 !important;
}

.curveBR {
	background: #6A2C91 !important;
}

.yearWrapper {
	background: none;
	padding-top: 0px !important;
}

/** ============================================================ */
/** Estilos del tooltip de workflow */
/** ============================================================ */
a.contentWorkflow {
	position: relative;
	color: #000000;
	text-decoration: none;
}

a.contentWorkflow:hover {
	
}

a.contentWorkflow span {
	display: none;
}

a.contentWorkflow:hover span {
	background-color: #ffffff;
	display: inline-block;
	position: absolute;
	top: -10px;
	left: 24px;
	width: 200px;
	height: auto;
	padding: 10px;
	border: solid 1px #999999;
	font-size: 12px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}

a.contentWorkflow span:before {
	content: "";
	width: 0;
	position: absolute;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	border-color: transparent #999999;
	top: 13px;
	left: -11px;
}
/************************************************************************************
* Clase utilizada por el tracking del sorteo cuando este ya no cabe mas en la tabla *
*************************************************************************************/
a.contentWorkflow5 {
	position: relative;
	color: #000000;
	text-decoration: none;
}

a.contentWorkflow5 span {
	display: none;
}

a.contentWorkflow5:hover span {
	background-color: #ffffff;
	display: inline-block;
	position: absolute;
	top: -180px;
	left: 24px;
	width: 200px;
	height: auto;
	padding: 10px;
	border: solid 1px #999999;
	font-size: 12px;
	font-stretch: extra-condensed;
	font-family: Arial, Helvetica, sans-serif;
}

a.contentWorkflow5 span:before {
	content: "";
	width: 0;
	position: absolute;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	border-color: transparent #999999;
	top: 183px;
	left: -11px;
}
/******************************************/
.contenedores {
	display: inline-block;
}